*{
    margin: 0;
    padding: 0;

}
body{
    font-family: "Montserrat";
}

.parrent-nav-top{
    height: 80px;
    background-color: #152237;
    display: flex;
    align-items: center;  
    justify-content: space-between;  
    padding: 0 98px; 
}
.parrent-nav-top img{
    width: 84px;
    height: 31px;
}
.nav-list {
    display: flex;
    list-style: none;  
    gap: 20px
}
.formation-link{
    text-decoration: none;
    color: #FFFFFF;
}
.nav-list a {
    text-decoration: none;
    color: #152237;
    border-radius: 10px;
    padding: 15px;
}
.nav-list .color-connect{
    background: #FFFFFF;
}
.nav-list .color-sign{
    background:  linear-gradient(0.25turn,#44DD8A, #15B7E2); ;
}
.recherche-top{
    width: 477px;
    height: 40px;
    background-color: transparent;
    border-radius: 6px;
    border: 1px solid #ffffff;
}
.recherche-top::placeholder{
    color: #FFFFFF;
    padding-left: 20px;
}
.logo:hover{
    transform: scale(1);
}
.conteneur-recherche{
    position: relative;
    display: inline-block;
}
.conteneur-recherche .fa-solid {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    color: #FFFFFF;
}